{% extends 'main_page/pattern.html' %}
{% load static %}

{% block title %}
    План Здания/{{hall_floor}}-й Этаж
{% endblock %}

{% block content %}
    <div class="features">
        <h1>План первого этажа!</h1>
        <div class="row">
            <div class="column left">
                <ul type="circle" style="list-style-type: none">
                    <li>
                        <a href="{% url 'plan1' %}">
                            1-й этаж
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'plan2' %}">
                            2-й этаж
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'plan3' %}">
                            3-й этаж
                        </a>
                    </li>
                </ul>
                <h5>Залы на этаже:</h5>
                {% for hall in halls %}
                <a href="{% url 'hall-detail' hall.hall_id %}" role="button">
                    <p>{{hall.hall_name}}</p>
                </a>
                {%endfor%}
            </div>

            <div class="column right">
                <img src="{% static 'main_page/pic/' %}{{hall_floor}}.png" >
            </div>
        </div>
    </div>
{% endblock %}