{% extends 'main_page/pattern.html' %}
{% load static %}

{% block title %}План Здания/Первый Этаж{% endblock %}

{% block content %}
    <div class="features">
        <h1>План первого этажа!</h1>
        <div class="row">
            <div class="column left">
                <ul type="circle">
                    <li>
                        <!-- Нажатие на кнопку переносит на странцу plan1 (нужно поменять на другую - название тестовое) -->
                        <a href="{% url 'plan1' %}">
                            1-й этаж
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'plan2' %}">
                            2-й этаж
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'plan3' %}">
                            3-й этаж
                        </a>
                    </li>
                </ul>
                <h5>Выбранный зал:</h5>
                <p>Зал не выбран</p>
            </div>

            <div class="column right">
                <img src="{% static 'main_page/pic/1.png' %}" >
            </div>
        </div>
    </div>
{% endblock %}